@charset "UTF-8";
.team_detail_opacity_height{
	height:120px;
}
.team_detail_title_content_font{
	font-size:25px;
	margin-bottom:10px;
}
.comment_comment_logo{
	font-weight: bold; 
	font-size: 30px;
}
.comment_btn_position{
	width: 100px; 
	margin-left: 20px;
}
.comment_input{
	margin-left: 20px; 
	border-radius: 7px; 
	width: 300px;
}
.team_detail_indent{
	margin-left: 35px;
}
.team_detail_textarea{
	margin-left: 35px; 
	width: 300px;
}
.team_detail_button_height{
	line-height: 50px;
}
.team_detail_btn_center{
	margin:auto;
}
.team_detail_leader{
	margin-top: 30px; 
	background-color: #e6f2ff;
	height:120px;
}
.team_detail_sub{
	line-height: 50px;
	background-color: #ffebcc;
}
.team_detail_leader_effect{
	border: none; 
	cursor: pointer;
}
.team_detail_leader_width{
	width: 430px;
	padding-top:10px;
}
.team_detail_modal_btn_position{
	margin-left: 70px; 
	margin-bottom: 20px; 
	margin-top: 30px;
}
.team_detail_main{
	margin: auto; 
	padding: 20px; 
	text-align: center;
}
.team_detail_main_text{
	line-height: 50px; 
	font-size: 25px;
}
.team_detail_interval{
	margin-top: 30px; 
	margin-bottom: 30px;
}
.team_detail_content_interval{
	margin-top:20px;
}
.team_detail_modal_font{
	font-size:25px;
}
.team_detail_modal_title{
	color: #ff4111;
	text-align: center;
}
.team_detail_modal_element{
	margin-left:20px;
}
.team_detail_img_big{
	width:150px;
	height:150px;
}
.team_detail_img_mid{
	width:100px;
	height:100px;
	border-radius: 10px;
}
.team_detail_img_small{
	width:80px;
	height:80px;
}
.team_detail_img_small_text{
	margin-left: 30px; 
	line-height: 80px;
	font-size: 25px;
}
.team_detail_row {
	width: 860px;
}

.team_detail_row_content {
	width: 860px;
	margin: 0 10px 10px 0;
}
.team_detail_row_detail {
	width: 800px;
}

.team_detail_box_content {
	background-color: #ffffff;
	border-radius: 7px;
}

.team_detail_btn {
	height: 30px;
	line-height: 15px;
	background-color: #f2f2f2;
}

.team_detail_btn_submit {
	width: 140px;
	padding: 0px 10px;
	font-size: 17px;
	color: #fff;
	background-color: #ff4111;
	opacity: 0.7;
}

.team_detail_btn_submit:hover {
	color: #fff;
	background-color: #ff4111;
	border-color: #fff;
	opacity: 1;
}

.team_detail_btn_color {
	width: 140px;
	padding: 0px 10px;
	font-size: 23px;
	color: #002b5a;
	background-color: #ffffff;
	border-color: #002b5a;
}

.team_detail_btn_color:hover {
	color: #ff4111;
	background-color: #f7e7e3;
	border-color: #ff4111;
}

.team_detail_row_title {
	margin-left:10px;
	color: #ff4111;
}

.team_detail_row_text {
	margin-left: 30px;
}

.team_detail_my_hr {
	width: 780px;
	margin: 20px 0;
}

.team_detail_text_color_red {
	color: #ff4111;
}

.team_detail_text_font {
	font-family: '나눔스퀘어라운드 ExtraBold';
	font-size: 18px;
	color: #002b5a;
}

.teamDetail {
	font-weight: bold;
}

.team_detail_hover_opacity:hover {
	opacity: 0.8;
	background-color: #c3dcf7;
}
.inquiry_line_height {
	line-height: 40px;
}

.inquiry_btn_height {
	height: 40px;
	margin-left: 5px;
}