@font-face {
	font-family: nanumSquareRound;
	src: url(/teamwith15/fonts/NanumSquareRoundEB.eot)
		format('embedded-opentype'),
		url(/teamwith15/fonts/NanumSquareRoundEB.woff) format('woff'),
		url(/teamwith15/fonts/NanumSquareRoundEB.ttf) format('truetype');
	font-weight: bold;
}

.btn_toggle {
	background-color: #cbe2ff;
	border-radius: 10px;
	color: #ff4111;
}

#intro_box textarea {
	width: 400px;
	height: 100px;
	resize: none;
	background-color: #fff2ec;
	border-radius: 20px;
}

#intro_box textarea:focus {
	background-color: white;
	box-shadow: 0 0 0 2px #fff2ec;
	font-family: nanumSquareRound;
}

.profile_add_btn {
	padding: 0px 10px;
	font-size: 23px;
	color: #002b5a;
	background-color: #ffffff;
	border-color: #002b5a;
	height: 40px;
}

.profile_add_btn:hover {
	color: #ff4111;
	background-color: #f7e7e3;
	border-color: #ff4111;
}

.fixed-action-btn {
	position: fixed;
	right: 23px;
	bottom: 23px;
	padding-top: 15px;
	margin-bottom: 0;
	z-index: 997
}

.fixed-action-btn.active ul {
	visibility: visible
}

.fixed-action-btn.horizontal {
	padding: 0 0 0 15px
}

.fixed-action-btn.horizontal ul {
	text-align: right;
	right: 64px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 100%;
	left: auto;
	width: 500px
}

.fixed-action-btn.horizontal ul li {
	display: inline-block;
	margin: 15px 15px 0 0
}

.fixed-action-btn.toolbar {
	padding: 0;
	height: 56px
}

.fixed-action-btn.toolbar.active>a i {
	opacity: 0
}

.fixed-action-btn.toolbar ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	bottom: 0;
	z-index: 1
}

.fixed-action-btn.toolbar ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: inline-block;
	margin: 0;
	height: 100%;
	-webkit-transition: none;
	transition: none
}

.fixed-action-btn.toolbar ul li a {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	line-height: 56px;
	z-index: 1
}

.fixed-action-btn.toolbar ul li a i {
	line-height: inherit
}

.fixed-action-btn ul {
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	bottom: 64px;
	margin: 0;
	visibility: hidden
}

.fixed-action-btn ul li {
	margin-bottom: 15px
}

.fixed-action-btn ul a.btn-floating {
	opacity: 0
}

.fixed-action-btn .fab-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 40px;
	height: 40px;
	background-color: #26a69a;
	border-radius: 50%;
	-webkit-transform: scale(0);
	transform: scale(0)
}

.profile_input {
	background-color: #fff2ec !important;
	border-radius: 10px !important;
	font-family: nanumSquareRound;
}

.profile_input:focus {
	background-color: white !important;
	box-shadow: 0 0 0 2px #fff2ec;
}

.skill_add_btn {
	float: right;
	margin: 7px;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 16px;
	background: #d3d3d3;
	border-radius: 15px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #002b5a;
	border-radius: 25px;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #002b5a;
	border-radius: 5px;
	cursor: pointer;
}

input[type=checkbox] {
	-webkit-appearance: checkbox;
	opacity: 1;
	z-index: 100;
}

.modal-content {
	color: black;
	font-size: 17px;
}

.modal-body {
	padding: 3rem;
}

input, teatarea {
	font-family: nanumSquareRound;
}

.text_orange{
	color: #ff4111;
}